<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>195523547631-m1i5inkhdbfdeig1qcf1ucpq5coe5nn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195523547631-m1i5inkhdbfdeig1qcf1ucpq5coe5nn6</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-SdbzaDzX6sO7SY_N4mPY5eEigtt92U</string>
	<key>GCM_SENDER_ID</key>
	<string>195523547631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khawla.PetsBB.Pets-B-B</string>
	<key>PROJECT_ID</key>
	<string>petsbb-c5d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>petsbb-c5d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195523547631:ios:1a56b31c50cfe201</string>
	<key>DATABASE_URL</key>
	<string>https://petsbb-c5d0f.firebaseio.com</string>
</dict>
</plist>